  <% if doc_version.nil? then %>
    
    <%= link_to_remote "add document", :url => new_project_doc_version_path(session[:project]),:method => :get %>
  <% else %>
    <br /><span id="doc-title"><%= doc_version.title %></span> 
    <br />
    <span id="doc-content"><%= doc_version.content %></span>
    <br />
    <%= link_to_remote "edit", :url => edit_doc_version_path(doc_version.id), :method => :get  %>      
  <% end %>






