body{
    margin:0;
    padding:0;

    font-family:Arial, Helvetica, sans-serif;
}
input {
    border: 2px solid #888;
    padding: 4px;
    font-size: 1em;
    background-color: #F8F8F8;
}
/*   home     */
#giant-text{
	font-size:32px;
	
	
}
#home-header{
	background: #000000;
	font-size:1.1em;
	text-align:center;
	color:white;
	padding-top:25px;
	padding-bottom:25px;
}
#home-header a { 
	color:#53DAFF;
	text-decoration:none;
}
#home-header h3 { 
	padding-top:10px;
	padding-bottom:0px;
	
	color:white;
}
.project-box-home{
	width:160px;
	height:160px;
	background: #000000;
	
}
.project-box-footer{
	height:35px;
	width:100%;
	background: #636363;
	position:relative;
	bottom:40px;
	color:white;
}
.project-box-footer h4{
	padding-left:4px;
	color:white;
}
.project-box-image{
padding:0px;
}
#footer{
	text-decoration:none;
	height:60px;
	text-align:center;
	
}
#footer a{
margin-right:15px;
text-decoration:none;
}
#bottom-links{
	position:relative;
	top:8px;
	float:left;
	left:10px;
}
#bottom-bug{
	position:relative;
	top:-12px;
}
#project_name{
    font-size: 2em;
}
#project_description{
    width: 400px;
}
#topic_body{
    font-size:1.5em;
}
#post_body{
    font-size:1.5em;
}
a { color: #24b; }


.emptybox{
	margin:10px 10px 28px;
	
	width:920px;
	font-size:14px;
	text-align:center;
	padding:5px;
	background-color: #eeb;
}

#content
{



}

#content form {margin-bottom:0;}

#content p.subtle {
    margin:0 0 0.5em;
    float:right;
}
#content .subtle a
{
    color:#999;
    font-size:0.7em;
}


/* flash messages */
#flash_messages {
    padding: 8px;
    margin-bottom: 18px;
}

#flash_messages p {
    margin-bottom: 0;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#000000;
    color:#FFFFFF;
    text-align:center;
    font-family:Tahoma,Arial,Helvetica,sans-serif;
    font-size:18px;
    margin:5px auto;
    min-height:25px;
    padding: 8px;
    margin-bottom: 8px;
}

#flash_messages p.error {
    background: #fcc;
    border: 1px solid #f00;
}

#flash_messages p.notice {
    background: #fee37a;
    border: 1px solid #fd9b5b;
}

#flash_messages p.message {
    background: #cbf285;
    border: 1px solid #3cab09;
}

/* header */
#header{

}
#header-top{
    height:45px;
    background: #ffffff none repeat scroll 0 0;

}
#header-top h1{
    color:black;
    font-weight:bold;
    padding:5px;

}
#header-top span{
    color:black;
    font-size:12px;
    font-weight:bold;
    padding:10px;
    
    text-align:center;
}
#header-top a{
	text-decoration:none;
}
#global-actions{
    margin-top:12px;
	font-weight:bold;

}

#login-links{
	font-weight:bold;
	margin-top:12px;
}
#profile-block{

float:right;
height:45px;
width:150px;
color:black;
}
#profile-block img{
	float:right;
	background-color:black;
	float:right;
	height:100%;
	width:50px;
}

#logout-link{
	position:absolute;
	top:12px;
	right:80px;
}
#profile-link{
	position:absolute;
	top:-8px;
	right:80px;
	
}
#header-middle{

    height:1%;
    font-size:14px;
    color:#3b5d14;
    background:#b2d281;
    font-weight:bold;
    padding:6px;
    overflow:auto;


}

#header-middle-dashboard{
    background: #6091D7 none repeat scroll 0 0;
    height:110px;
}
#header-bottom-dashboard{
    background:#F0E2B4 none repeat scroll 0 0;
    height:40px;
}
#logo{
    background:transparent;
    position:absolute;
    color:white;


}

#topbar{
    font-size:14px;
    color:#091840;
    background:#000000;
    font-weight:bold;
    overflow:auto;
    height:39px;
    clear:both;}
#topbar a{
    color:#ffffff;
    text-decoration:none;
    margin:0 10px;
    height:23px;
    line-height:23px;
    float:left;
    display:block;}
.tab{
	list-style-type:none;
}
.tab_active{
	color:#53DAFF;
    float:left;
    line-height:23px;
    
	list-style-type:none;
	display:block;
	}
.tab_active span{
	padding:10px;
	background:#636363 none repeat scroll 0 0;
    }
.bar{
	background-color:#000000;
	height:6px;
	margin-top:15px;
}

a.active span{ background:url(/images/tb_span.png) left top no-repeat; height:23px; display:block; padding-left:10px;}
#dashboard-projects-c{
    padding-top:20px;

}
/* dashboard */
#profile-bar{
    padding-top:18px;
    color:white;
}
#profile-bar h3{
    color:white;
    margin-bottom:.5em;
}
#profile-bar a{
    color:white;
}
#tab-bar{
    padding-bottom:8px;
    padding-top:8px;
}

#tablist li{
    
    
    margin-right:15px;
    float:left;
    list-style-type:none;
}
#tablist li a:hover {
    text-decoration: none;
}
.active li{
	
}
/* bill of materials */
.bomtypebar{

}
.bomtypebar h3{
    position:relative;
    left:45px;
    top:45px;
    color:white;
}
#bar_Hardware{
    background:transparent url('/images/hardwarebar.png') ;
    height: 45px;
    width: 860px;
    margin-bottom:20px;
}




#dashboard-projects{
    margin-left:20px;
    width:829px;
    height:43px;
    background:transparent url('/images/projectbar.png');
}
#dashboard-projects h3{
    padding-top:10px;
    color:white;
}
.project-box{
    height:130px;
    width:130px;
    background:transparent url('/images/projectbox.png');
}
.project-box img{

}
.project-box a{


}
#dashboard-feed-c{
    padding-top:20px;

}
#dashboard-feed{
    margin-left:20px;
    width:829px;
    height:43px;
    background:transparent url('/images/feedbar.png');
}
#dashboard-feed h3{
    padding-top:10px;
    color:white;
}
#project-addinfo{
    margin-left:20px;
    width:860px;
    height:46px;
    background:transparent url('/images/projectaddinfobar.png');
    margin-bottom:10px;
    border-bottom:none;
}
#project-addinfo h3{
    padding-left:45px;
    padding-top:12px;
    color:white;
}

#context-menu{
    font-size:11px;
    color:#3b5d14;
    background:#636363;
    font-weight:bold;
    padding:9px;
    overflow:auto;
    height:1%;
    clear:both;

}
#context-menu li{
    margin-top:8px;
    padding-bottom:10px;
    margin-right:15px;
    float:left;
    list-style-type:none;
}
#context-menu a span{
   
    height:23px;
    display:block;
    padding-left:10px;
}
#context-menu a{
    color:#53DAFF;
    text-decoration:none;
    margin:0 7px;
    padding-right:10px;
    height:23px;
    line-height:23px;
    display:block;
    float:left;

}
#context-menu span:hover{
    
    color:#ffffff;
    
	
}
#context-menu a:hover{
    color:#53DAFF;
}
#feed-bar{
    background:transparent url('/images/feedbar.png') ;
    width:770px;
    height:22px;
}
#feed-bar h3{
    color:white;
    padding-left:15px;
}
/* Bill of Materials*/
#item_quantity{
	width:100px;
	font-size:50px;
}
#item_item_type{
	font-size:30px;
}
#items {
    position:relative;
    left:50px;
    bottom:10px;
}
#materials-list tr:hover {
    background-color: #eeb;
}
/* login page */
#loginbox{
	padding-left:24%;
	padding-top:10%;
	padding-bottom:10%;
}
#loginbox input{
	font-size:34px;
}
/* project page */
#proj-fields{
}
#proj-fields img{
	padding-left:10px;
}
#license-image{
	float:right;
}
#proj-details{
    padding-top:30px;

}
#proj-details h1{
    margin-bottom: 5px;
}
#proj-details h4{
    margin-bottom: 5px;
}
#proj-details h5{
    margin-bottom: 5px;
}
#image-edit{

}
#image-edit a{

}
#info-box{
	width:760px;
}
#doc-title{
    font-size:1.5em;
}
#doc-content{

}

#people-owner{
    padding-top:4px;
    margin-right:0px;
    background: cyan;
    text-align:center;
}
#people-collab{
    padding-top:4px;
    margin-right:0px;
    background: blue;
    text-align:center;
}
#people-followers{
    padding-top:4px;
    margin-right:0px;
    background: green;
    text-align:center;
}
/*Bookmarklet*/
#bookmarklet{
    background:transparent url('/images/bookmarkletbox.png') no-repeat;
    width:340px;
    height:170px;
}
#bookmarklet_button{
    position:relative;
    left:175px;
    top:75px;
}
/* EVENTS */
#events-container{
    padding-top:px;
    margin-left:20px;
}
.events li {
    list-style-image:none;
    list-style-position: outside;
    list-style-type:none;
}
.events .date {
    background: #1e438f;
    padding: 5px 10px 3px 10px;
    color: white;
    text-transform: lowercase;
    font-size: 13px;
}

.events .event_instances {
    margin: 0;

}

.events .event_instances strong {
    color: #555;
}

.events .event_instance .event_date {
    float: left;
    width: 80px;
    text-align: center;
    padding-top: 5px;
    font-size: 11px;
    color: #898989;
}
.events .event_instance img {
    margin-bottom: 5px;
}
.events .event_user{
    vertical-align:middle;
}
.events .event_action{
    position: relative;
    left:50px;
    top:-40px;
}

.events .event_instance .event_meta p { padding: 0; margin: 0;}
.events .event_instance .event_meta {
    margin: 0 50px 5px 100px;
}

.events .event_instance .event_category {
    float: left;
    min-width: 80px;
    text-align: center;
    padding: 2px 5px 0 5px;
    font-size: 11px;
    text-transform: lowercase;
    color: #fff;
    background: #b6babc;
    margin-top:10px;
}

.event_instance .event_category.materials { background: #80A13A; }
.event_instance .event_category.project  { background: #E37229; }
.event_instance .event_category.merge_request { background: #a2a498; }

/* pagination */
.apple_pagination {
    background: #F1F1F1;
    border: 1px solid #E5E5E5;
    text-align: center;
    padding: 1em; }
.apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
.apple_pagination span.disabled {
    color: #AAA; }
.apple_pagination span.current {
    font-weight: bold;
    background: transparent url(/images/apple-circle.gif) no-repeat 40% 40%; }
.apple_pagination a {
    text-decoration: none;
    color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }

/* FORUM */
#forum-container{


}
/* topics */

#forum_description,
#topic_body
{
    width:99%;
}

/* specific table styles */

table.forums,
table.topics
{ font-size:1.2em; }
table.forums tr th { font-size:0.8em; }
table.forums tr td .title {
    font-size:1.4em;
}

table.forums tr td .desc {
    margin:0.5em 0;
}
table.forums tr td
{
    padding:4px 15px;
}
table.forums a.tiny
{
    font-size:0.8em;
    color:#666;
}

table.forums .posts
{
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
    color:#666;
    font-size:0.8em;
}

table tr th.la { 	text-align:left; }
table tr td.ca { 	text-align:center; }
table tr td.inv { background:#eee; }
table tr td.vat { vertical-align:top; }

table tr td.narrow { padding:2px 5px;}

/* users */

a.admin
{
    color:#c00;
    font-weight:bold;
}

/* last post */
table tr td.lp {
    font-size:1em;
    color:#333; }
table tr td.lp span { color:#666; }
table tr td.lp span a { color:#369; }

table.topics tr td.c1
{	border-right:0; padding-right:2px; }
table.topics tr td.c2
{	border-left:0; padding-left:2px; }


table.topics tr td.c3 { border-left:0; }

table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
table.forums tr td.c3 {	border-left:0; padding-left:5px; }


table.topics tr td.c2 small a,
.crumbs small a
{ color:#666; }
table.topics tr td.stat { font-size:0.9em; }

table.topics tr td .flag {
    background:#333;
    color:white;
    padding:1px 5px;
    margin-right:0.5em; }

/* misc */

.button_or
{
    color:#666;
    padding-left:0.5em;
    font-size:0.75em;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.button_or a { color:#c00; }

form.dialog
{
    margin-top:3em;
    background:#eee;
    width:300px;
    padding:15px;
}

form .entryhelp
{
    font-size:0.7em;
}

form .help
{
    font-size:0.8em;
}

span.arrow
{
    font-weight:normal;
    font-size:0.9em;
    color:#999;
}

div.stats
{
    margin-top:2em;
    background:#ded;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
    font-size:0.8em;
    padding:15px 15px;
    border:2px solid #393;
    border-width:1px 0;
}
div.stats .posts { float:right; text-align:right; }

/* breadcrumbs */

.crumbs
{
    font-size:0.75em;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.crumbs a { color:#468; }
.crumbs a:hover { color:#00c; text-decoration:underline; }

/* posts */

table.posts
{
    border-bottom:2px solid #eee;
}

table.posts tr td
{
    border:0;
}
table.posts tr.spacer td
{
    font-size:1px;
}

/* fade edit links */
.post .author .edit a
{
    font-size:0.95em;
    color:#666;
}

.post .author img {
    float:left;
    margin-right:0.5em;
}
.post .author
{
    border-top:2px solid #eee;
    padding:5px 10px;
    background:#eee;
    font-weight:bold;
    color:#333;
    font-size:0.9em;
    min-height:32px;
    width:10em;
    min-width:8em;
    vertical-align:top;
}

.post .author .posts,
.post .author .admin
{
    display:block;
    font-size:0.75em;
    color:black;
    color:#666;
}
.post .author a
{
    color:#333;
    text-decoration:none;
}
.post .author a.threadauthor
{
    color:#080;
}
.post .author a:hover
{
    color:#369;
    text-decoration:underline;
}

.post .date
{
    font-size:0.75em;
    color:#666;
    font-weight:normal;
    margin-bottom:0.5em;
}

.posts .post .body
{
    border-top:2px solid #eee;
    font-size:0.9em;
    padding:10px 20px;
}

.posts .post .body blockquote
{
    border:1px solid #cda;
    border-left:3px solid #9a7;
    border-right:0;
    background:#efc;
    padding:1px 10px;
    margin-left:0;
}

.posts .post .body pre
{
    font-size:0.8em;
    background:#eee;
    padding:5px 10px;
    border:1px solid #ccc;
    border-left:3px solid #ddd;
    border-right:0;
    overflow:auto;
    font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
}

.posts .post .body a:hover { color:brown; }

.posts .post .body blockquote p
{
    margin:0.5em 0;
}

.post .body p.topic
{
    font-size:0.8em;
    font-weight:bold;
    background:#eee;
    padding:2px 10px;
}

/* editing posts */

/*
table.posts .editing td {
}
table.posts .editing td.author {
background:#030;
}

table.posts .editing td.author * { color:#ccc; }
table.posts .editing td.body { }
*/

/* other stuff */

p.online {margin-bottom:0;}

img.icon
{
    background:#696;
    background-image: url(/plugin_assets/aep_beast/images/clearbits/bg_rounded.gif);
    background-repeat: no-repeat;
    vertical-align: bottom;
}
img.reply { float:right; }
img.orange { background-color:darkorange; }
img.grey { background-color:#ccc; }
img.darkgrey { background-color:#999; }
img.green { background-color:#0c0;}

.post .author .icon
{
    float:right;
}

/* reply */

div.editbox
{
    background:url(/plugin_assets/aep_beast/images/reply_background.png);
    border:2px solid #333;
    border-width:2px 0;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:6px 0 7px;
    z-index:50;
}

div.editbox .container
{
    width:92%;
    margin:0 auto;
    min-width:760px;
}

div.editbox p { margin:0.5em 0;}
div.editbox textarea
{
    width:100%;
    background:white;
    opacity:1;
    font-size:0.8em;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
div.editbox .button_or a
{
    color:#ccc;
}
div.editbox table td { border:0; }
div.editbox a.utility
{
    color: #f99;
    font-size: 0.65em;
    padding: 2px 5px 4px;
    display: block;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
    float: right;
    text-align: right;
    margin-top: 0.2em;
}

div.editbox h5
{
    background:#222;
    color:white;
    padding:2px 10px 3px;
    font-size:0.7em;
    margin:0.2em 0 0.5em;
}

div.editbox p.help span,
div.editbox ul.help span { color:#666; }
div.editbox p.help,
div.editbox ul.help
{
    padding:3px 10px;
    font-size:0.75em;
    color:#ccc;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
div.editbox ul.help { margin:0; }

div.editbox ul.help {
    list-style-type:none; }

#monitor_topic a
{
    color: #666;
}