<%= "<div id=\"file_attachment_" + "#{ file_attachment.id }" + "\"" %> <!-- sets the div if to file_attachment id -->
  <%= link_to file_attachment.filename, file_attachment.public_filename %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <% if current_user_is_editor then %>
    <em><%= link_to_remote "delete file", :url => delete_attachment_bom_item_path(bom, item, 
        :attachment_id => file_attachment), :method => :delete %></em>
  <% end %>
<%= "</div>" %>
