
<% form_for([bom, item], :url => formatted_create_attachment_bom_item_path(:format => 'js'),
  :html => { :multipart => true, :target => 'upload_frame' } ) do |f| %>
  <% fields_for :file_attachment do |a| %>
    <label for="document_name">Document name:</label><br />
    <%= a.text_field :name %>
    <label for="file_attachment">Upload a file:</label><br />
    <%= a.file_field :uploaded_data %>
  <% end %><br/>
  <%= f.submit "Upload file" %>
<% end %>
or
<%= link_to_remote "done uploading files", :url => show_choice_bom_item_path(bom, item), :method => :get %>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
