<div id="content">
<div id="home-header" class="column span-24">
	<span id="giant-text">
		<b> Open Source Hardware Collaboration</b> 	
	</span>
	<div><strong>UnPtnt is a home for <a href="http://en.wikipedia.org/wiki/Open_hardware">open hardware</a>. It's more than just a place to post your projects, it's a tool that allows you to see <%= link_to 'who', '/events' %> is working on <%= link_to 'what', projects_path %>.</strong>	<h3><strong><%= link_to 'browse projects', projects_path %>
		or
		<%= link_to 'start you own!', login_path %>
		</strong></h3>
	</div>	
</div>
<div id="recent-projects" class="column span-8">
	<h3> Projects</h3>
	<div class="project-box-home">
		<div class="project-box-image">
			<img height="160" width="160" src="/images/test.jpg">
		</div>
		<div class="project-box-footer">
		<h4>3-Axis Hektor Clone</h4>
		</div>
	</div>
</div>

