<div id="header-bottom" class="span-24">
  <div class="column span-4"><h3><strong>projects<strong></h3></div>
  <% if logged_in?%>
    <div id="new-project-button" class="prepend-16 column">
      <%= link_to image_tag('newprojectbutton.png'), new_project_path %>
    </div>
  <%end%>
</div>

<div id="projects-show" class="container">
  <p>
  <% for project in @projects %>
    <div>
      <div id="image-image" class="span-4">
        <%= render :partial => 'uploaded_images/show',
          :locals => { :uploaded_image => project.home_page_image, :image_type => "project", :uploaded_image_size => :medium  } %>
      </div>
      <div id="project_fields_subset" class="column span-24">
        <%= render :partial => 'projects/fields_subset',  :locals => { :project => project } %>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @projects , :class=>"apple_pagination span-24" %>

