<!--
# shows the project information using the
# project/show, images/show, and doc_versions/show partials
# rendered by project#show.html
-->

<div id="proj-details">
  
  <div id="imagediv">
    <%= render :partial => '/images/show_in_project', :locals => { :project => @project } %>
  </div>

  <div id="proj-fields">
    <%= render :partial => 'show', :locals => { :project => @project, :related_users => @related_users } %>
  </div>
</div>   <!-- proj-details -->  
  
<div id="proj-events">
  =============================<br />
  Placeholder:  render the project events partial here.<br />
  =============================<br />
</div>

<div id="document">
  <% if @doc_version.nil? then %>
    Click
    <%= link_to_remote "here", :url => new_project_doc_version_path(@project),:method => :get %>
    to create an introductory document for this project
  <% else %>
      <%= render :partial => 'doc_versions/show', 
        :locals => { :doc_version => @doc_version, :project_id => @project.id, 
        :item_id => 0, :home_page => true } %>
  <% end %>
</div>