<h1>Status History: </h1>
<% if @project.statuses.nil? then %>
  <p>No status messages yet.</p>
<% else %>
  <% @project.statuses.each do |ps| %>
    <div><h4><b><%= ps.status_text %></b> @<%= ps.created_at %></h4>
    </div>
  <% end %>
<% end %><br />

<%= link_to 'Back to project', project_path(@project) %>

