<h1>All status messages for project:  <%= @project.name %> </h1>
<% if @project.statuses.nil? then %>
  <p>No status messages yet.</p>
<% else %>
  <% @project.statuses.each do |ps| %>
    <div><%= ps.status_text %> (at <%= ps.created_at %> )
    </div>
  <% end %>
<% end %><br />

<%= link_to 'Back to project', project_path(@project) %>

