<% unless uploaded_image.nil?  then %>    
	<%= image_tag uploaded_image.public_filename,:width=>'150' %><br/>
    <%= uploaded_image.display_name %><br/>
<% else%>
  <% default_image = case image_type
     when "item" then "itemnoimglarge.png"
     when "project" then "itemnoimglarge.png"
     when "user" then "nouserimg.png"
     end %>
	<p> <%= "<img src='/images/#{ default_image }'>" %></p>
<% end %>