<td><em><%= link_to 'show', bom_item_path(item.bom, item) %></em></td>
<% if logged_in? && current_user.is_editor?(session[:project]) then %>
  <td><em><%= link_to 'edit', edit_bom_item_path(item.bom, item) %></em></td> 
  <td><em><%= link_to 'delete',  [item.bom, item], :confirm => 'Are you sure?  This action is FINAL and cannot be undone.', :method => :delete %></em></td>
<% end %> 