 <div id="new-item">
  <% if logged_in? && current_user.is_editor?(session[:project]) then %>
        <%= link_to "Add another item to this BOM", new_bom_item_path(session[:project].bom) %>
  <% end %>
</div>
