<div id="image-image">
<% unless item.item_image_file_name.nil?  then %>
	  <p><%= image_tag item.item_image.url,:width=>'150' %></p>
<% else%>
	  <p><img src="/images/itemnoimglarge.png"></p>
<% end %> </div>
<div id="image-edit">
  <% if logged_in && current_user_is_editor then %>
    <%= link_to_remote image_tag("/images/edit.png"), :url => edit_image_bom_item_path(bom, item), :method => :get %>
  <% end %>
</div>
