
<% unless project.project_image_file_name.nil?  then %>
	  <p><%= image_tag project.project_image.url,:width=>'150' %></p>
          <% if logged_in? && current_user.is_editor?(project) then %>
            <%= link_to_remote "edit", :url => "/projects/#{ project.id }/images/0/edit", :method => :get %>
          <% end %>
<% else%>
	  <p><img src="/images/noimgprojectlarge.png"></p>
          <% if logged_in? && current_user.is_editor?(project) then %>
            <%= link_to_remote "edit", new_project_image_path(:project_id => project), :method => :get %>
          <% end %>
<% end %>
